<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <a href="/planets">Browse Planets</a>
    <a href="/planets/new">Add New Planet</a>
    <a href="/planets/">Back to Planets</a>
    <title>Planets App</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <h1>Welcome to the Planets app</h1>
    <ul>
      <% planets.forEach(planet => { %>
        <li>
          <a href="/planets/<%= planet._id %>"><%= planet.name %></a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>